All Authors

<h2>Search Authors</h2>

<form class="" action="/authors" method="GET">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit" name="button">Search</button>
</form>

<br>
<ul>
  <% authors.forEach(author => { %>
    <li>
      <%= author.name %>
    </li>
  <% }) %>
</ul>
